/**********************
Responsive 768px
**********************/

@media screen and (min-width: 768px)
{
	body
	{
		max-width: 100%;
	}

	header img,
  header video
	{
		max-width: 80%;
	}

	.members
	{
		overflow: hidden;
	}

	.members .member
	{
		height: 400px;
		overflow: hidden;
		position: relative;
		width: 48%;
		margin: 1%;
		float: left;
	}

	.discography img
	{
		width: 300px;
		margin: 0 2em;
	}

	.contact li
	{
		display: inline-block;
		margin: 0 2.2em;
	}
}

/**********************
Responsive 1024px
**********************/

@media screen and (min-width: 1024px)
{
	body
	{
		max-width: 60%;
	}
}
